Repository tedilabs/terraform-aws-organization, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: account, :floppy_disk: organization, :floppy_disk: organizational-unit, :floppy_disk: ram-share, :floppy_disk: sso-access-control-attributes, :floppy_disk: sso-account-assignments, :floppy_disk: sso-permission-set

.github/labeler.yaml:

# Modules
":floppy_disk: account":
- changed-files:
  - any-glob-to-any-file:
    - modules/account/**/*

":floppy_disk: organization":
- changed-files:
  - any-glob-to-any-file:
    - modules/organization/**/*

":floppy_disk: organizational-unit":
- changed-files:
  - any-glob-to-any-file:
    - modules/organizational-unit/**/*

":floppy_disk: ram-share":
- changed-files:
  - any-glob-to-any-file:
    - modules/ram-share/**/*

":floppy_disk: sso-access-control-attributes":
- changed-files:
  - any-glob-to-any-file:
    - modules/sso-access-control-attributes/**/*

":floppy_disk: sso-account-assignments":
- changed-files:
  - any-glob-to-any-file:
    - modules/sso-account-assignments/**/*

":floppy_disk: sso-permission-set":
- changed-files:
  - any-glob-to-any-file:
    - modules/sso-permission-set/**/*

Update dependabot
  .github/dependabot.yml
Labels: none

Update lint configurations
  .editorconfig
  .pre-commit-config.yaml
  .tflint.hcl
Labels: none

chore: update pre-commit configurations
  .pre-commit-config.yaml
  .tflint.hcl
  modules/account/README.md
  modules/organization/README.md
  modules/organizational-unit/README.md
  modules/ram-share/README.md
  modules/sso-access-control-attributes/README.md
  modules/sso-account-assignment/README.md
  modules/sso-permission-set/README.md
Labels: :floppy_disk: account, :floppy_disk: organization, :floppy_disk: organizational-unit, :floppy_disk: ram-share, :floppy_disk: sso-access-control-attributes, :floppy_disk: sso-permission-set

feat(account): support new additional regions
  modules/account/README.md
  modules/account/main.tf
  modules/account/regions.tf
  modules/account/variables.tf
  modules/account/versions.tf
Labels: :floppy_disk: account

feat(organization): support master_account_name output
  modules/organization/README.md
  modules/organization/outputs.tf
  modules/organization/variables.tf
  modules/organization/versions.tf
Labels: :floppy_disk: organization

chore: support aws v6 provider for organizational-unit
  modules/organizational-unit/README.md
  modules/organizational-unit/versions.tf
Labels: :floppy_disk: organizational-unit

chore: update LICENSE year
  README.md
Labels: none

feat(account): improve how to use resource_group in module
  modules/account/README.md
  modules/account/outputs.tf
  modules/account/resource-group.tf
  modules/account/variables.tf
Labels: :floppy_disk: account

feat: improve how to use resource_group in modules
  modules/organizational-unit/README.md
  modules/organizational-unit/outputs.tf
  modules/organizational-unit/resource-group.tf
  modules/organizational-unit/variables.tf
  modules/ram-share/README.md
  modules/ram-share/outputs.tf
  modules/ram-share/resource-group.tf
  modules/ram-share/variables.tf
  modules/sso-permission-set/README.md
  modules/sso-permission-set/outputs.tf
  modules/sso-permission-set/resource-group.tf
  modules/sso-permission-set/variables.tf
Labels: :floppy_disk: organizational-unit, :floppy_disk: ram-share, :floppy_disk: sso-permission-set

feat: improve how to use resource_group in modules (#10)
  modules/organizational-unit/README.md
  modules/organizational-unit/outputs.tf
  modules/organizational-unit/resource-group.tf
  modules/organizational-unit/variables.tf
  modules/ram-share/README.md
  modules/ram-share/outputs.tf
  modules/ram-share/resource-group.tf
  modules/ram-share/variables.tf
  modules/sso-permission-set/README.md
  modules/sso-permission-set/outputs.tf
  modules/sso-permission-set/resource-group.tf
  modules/sso-permission-set/variables.tf
Labels: :floppy_disk: organizational-unit, :floppy_disk: ram-share, :floppy_disk: sso-permission-set

feat(account): refine `additional_regions` output
  modules/account/outputs.tf
Labels: :floppy_disk: account

feat(account): support `cloudtrail.amazonaws.com` as delegated service
  modules/account/README.md
  modules/account/delegated-administrators.tf
Labels: :floppy_disk: account

feat(sso-access-control-attributes): support aws v6
  modules/sso-access-control-attributes/README.md
  modules/sso-access-control-attributes/main.tf
  modules/sso-access-control-attributes/outputs.tf
  modules/sso-access-control-attributes/variables.tf
  modules/sso-access-control-attributes/versions.tf
Labels: :floppy_disk: sso-access-control-attributes

fix(sso-access-control-attributes): add region to data sources
  modules/sso-access-control-attributes/main.tf
Labels: :floppy_disk: sso-access-control-attributes

feat(sso-account-assignment): support aws v6
  modules/sso-account-assignment/README.md
  modules/sso-account-assignment/main.tf
  modules/sso-account-assignment/outputs.tf
  modules/sso-account-assignment/variables.tf
  modules/sso-account-assignment/versions.tf
Labels: none

feat(sso-permission-set): support aws v6
  modules/sso-permission-set/README.md
  modules/sso-permission-set/main.tf
  modules/sso-permission-set/outputs.tf
  modules/sso-permission-set/resource-group.tf
  modules/sso-permission-set/variables.tf
  modules/sso-permission-set/versions.tf
Labels: :floppy_disk: sso-permission-set

feat(ram-share): support aws v6
  modules/ram-share/README.md
  modules/ram-share/main.tf
  modules/ram-share/outputs.tf
  modules/ram-share/resource-group.tf
  modules/ram-share/variables.tf
  modules/ram-share/versions.tf
Labels: :floppy_disk: ram-share

chore: bump to v0.3.0
  VERSION
Labels: none

fix(account): support regional delegated administration
  modules/account/README.md
  modules/account/delegated-administrators.tf
  modules/account/outputs.tf
  modules/account/regions.tf
  modules/account/variables.tf
Labels: :floppy_disk: account

Enhance delegated_services schema to support regional configuration using specific AWS resources for Inspector2 and Macie (#11)
  modules/account/README.md
  modules/account/delegated-administrators.tf
  modules/account/outputs.tf
  modules/account/regions.tf
  modules/account/variables.tf
Labels: :floppy_disk: account

feat(account): support guardduty regional delegated administration
  modules/account/README.md
  modules/account/delegated-administrators.tf
Labels: :floppy_disk: account

chore: bump to v0.4.0
  VERSION
Labels: none

chore: update .github/auto-assign.yaml via Terraform
  .github/auto-assign.yaml
Labels: none

feat(account): remove deprecated `status` output
  modules/account/README.md
  modules/account/outputs.tf
Labels: :floppy_disk: account

chore: bump to v0.4.1
  VERSION
Labels: none

fix(account): update minimum provider version
  modules/account/README.md
  modules/account/delegated-administrators.tf
  modules/account/versions.tf
Labels: :floppy_disk: account

feat(organization): update minimum provider version
  modules/organization/README.md
  modules/organization/versions.tf
Labels: :floppy_disk: organization

feat(organizational-unit): update minimum provider version
  modules/organizational-unit/README.md
  modules/organizational-unit/versions.tf
Labels: :floppy_disk: organizational-unit

feat(organization-policy): add a new module
  modules/organization-policy/README.md
  modules/organization-policy/main.tf
  modules/organization-policy/outputs.tf
  modules/organization-policy/resource-group.tf
  modules/organization-policy/variables.tf
  modules/organization-policy/versions.tf
Labels: none

chore: bump to v0.4.2
  VERSION
Labels: none

feat(ram-share): change the type of `resources` variable
  modules/ram-share/README.md
  modules/ram-share/main.tf
  modules/ram-share/variables.tf
Labels: :floppy_disk: ram-share

chore: bump to v0.5.0
  VERSION
Labels: none

feat(organization): support trust access for `eks.amazonaws.com`
  modules/organization/README.md
  modules/organization/main.tf
  modules/organization/outputs.tf
  modules/organization/resource-group.tf
  modules/organization/variables.tf
Labels: :floppy_disk: organization

feat(account): confirm eks.amazonaws.com delegated service
  modules/account/delegated-administrators.tf
Labels: :floppy_disk: account

chore: bump to v0.5.1
  VERSION
Labels: none

chore: update .github/workflows/github.repo.yaml via Terraform
  .github/workflows/github.repo.yaml
Labels: none

chore: update .github/workflows/yaml.integration.yaml via Terraform
  .github/workflows/yaml.integration.yaml
Labels: none

chore: update .github/workflows/github.pr.yaml via Terraform
  .github/workflows/github.pr.yaml
Labels: none

Remove deprecated pull-request-labeler workflow
  .github/workflows/pull-request-labeler.yaml
Labels: none

Remove deprecated sync-labels workflow
  .github/workflows/sync-labels.yaml
Labels: none
