Repository tedilabs/terraform-aws-organization, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: account, :floppy_disk: organization, :floppy_disk: organizational-unit, :floppy_disk: ram-share, :floppy_disk: sso-access-control-attributes, :floppy_disk: sso-account-assignments, :floppy_disk: sso-permission-set

.github/labeler.yaml:

# Modules
":floppy_disk: account":
- changed-files:
  - any-glob-to-any-file:
    - modules/account/**/*

":floppy_disk: organization":
- changed-files:
  - any-glob-to-any-file:
    - modules/organization/**/*

":floppy_disk: organizational-unit":
- changed-files:
  - any-glob-to-any-file:
    - modules/organizational-unit/**/*

":floppy_disk: ram-share":
- changed-files:
  - any-glob-to-any-file:
    - modules/ram-share/**/*

":floppy_disk: sso-access-control-attributes":
- changed-files:
  - any-glob-to-any-file:
    - modules/sso-access-control-attributes/**/*

":floppy_disk: sso-account-assignments":
- changed-files:
  - any-glob-to-any-file:
    - modules/sso-account-assignments/**/*

":floppy_disk: sso-permission-set":
- changed-files:
  - any-glob-to-any-file:
    - modules/sso-permission-set/**/*

Remove deprecated GitHub Actions workflows (#17)
  .github/workflows/pull-request-labeler.yaml
  .github/workflows/sync-labels.yaml
Labels: none

chore: update .tflint.hcl via Terraform
  .tflint.hcl
Labels: none

chore: update .github/dependabot.yml via Terraform
  .github/dependabot.yml
Labels: none

chore: update .pre-commit-config.yaml via Terraform
  .pre-commit-config.yaml
Labels: none

Update labels.yaml with standard sections
  .github/labels.yaml
Labels: none

chore: remove deprecated workflow file welcome.yaml
  .github/workflows/welcome.yaml
Labels: none

chore: remove deprecated workflow file welcome.yaml (#18)
  .github/workflows/welcome.yaml
Labels: none

chore: update .github/labels.common.yaml via Terraform
  .github/labels.common.yaml
Labels: none

chore: update .github/workflows/github.repo.yaml via Terraform
  .github/workflows/github.repo.yaml
Labels: none

chore: update .github/workflows/github.pr.yaml via Terraform
  .github/workflows/github.pr.yaml
Labels: none

chore: remove common labels from labels.yaml
  .github/labels.yaml
Labels: none

chore: update .editorconfig via Terraform
  .editorconfig
Labels: none

feat(organization-policy): support template
  modules/organization-policy/README.md
  modules/organization-policy/main.tf
  modules/organization-policy/templates.yaml
  modules/organization-policy/templates/service-control-policies/region.restrict-management.yaml.tmpl
  modules/organization-policy/templates/service-control-policies/s3.restrict-unencrypted-object-upload.yaml.tmpl
  modules/organization-policy/variables.tf
Labels: none

chore: update labels.yaml
  .github/labels.yaml
Labels: none

chore: bump to v0.5.2
  VERSION
Labels: none

chore: update README.md
  README.md
Labels: none

chore: confirm notifications.amazon.com
  modules/account/README.md
  modules/account/delegated-administrators.tf
  modules/organization/README.md
  modules/organization/main.tf
Labels: :floppy_disk: account, :floppy_disk: organization

feat(organization): support new policy types
  modules/organization/README.md
  modules/organization/variables.tf
Labels: :floppy_disk: organization

feat(organization-policy): add ram/restrict-external-sharing scp policy
  modules/organization-policy/templates.yaml
  modules/organization-policy/templates/service-control-policies/ram.restrict-external-sharing.yaml.tmpl
Labels: none

feat(ram-share): allow custom permission arns
  modules/ram-share/README.md
  modules/ram-share/main.tf
Labels: :floppy_disk: ram-share

chore: bump to v0.5.3
  VERSION
Labels: none

feat(organization): support trust access for user notifications
  modules/organization/README.md
  modules/organization/main.tf
  modules/organization/versions.tf
Labels: :floppy_disk: organization

chore: bump to v0.5.4
  VERSION
Labels: none

fix(organization): support trust access for user notifications
  modules/organization/main.tf
Labels: :floppy_disk: organization

chore: bump to v0.5.5
  VERSION
Labels: none

fix(organization): support trust access for user notifications
  modules/organization/main.tf
Labels: :floppy_disk: organization

chore: bump to v0.5.6
  VERSION
Labels: none

fix: fix unknown key issues for policy attachments
  modules/account/README.md
  modules/account/main.tf
  modules/account/outputs.tf
  modules/account/variables.tf
  modules/organization/README.md
  modules/organization/main.tf
  modules/organization/outputs.tf
  modules/organization/variables.tf
  modules/organizational-unit/README.md
  modules/organizational-unit/main.tf
  modules/organizational-unit/outputs.tf
  modules/organizational-unit/variables.tf
Labels: :floppy_disk: account, :floppy_disk: organization, :floppy_disk: organizational-unit

feat(organization-policy): add scp for account/restrict-services
  modules/organization-policy/templates.yaml
  modules/organization-policy/templates/service-control-policies/account.restrict-services.yaml.tmpl
Labels: none

feat(organization-policy): add scp for region/restrict-usage
  modules/organization-policy/templates.yaml
  modules/organization-policy/templates/service-control-policies/region.restrict-usage.yaml.tmpl
Labels: none

chore: bump to v0.6.0
  VERSION
Labels: none

feat(organization-policy): support permittedActions for region.restrict-usage scp
  modules/organization-policy/templates.yaml
  modules/organization-policy/templates/service-control-policies/region.restrict-usage.yaml.tmpl
Labels: none

chore: bump to v0.6.1
  VERSION
Labels: none

fix(organization-policy): refine region.restrict-usage scp
  modules/organization-policy/templates/service-control-policies/region.restrict-usage.yaml.tmpl
Labels: none

feat(organization-policy): support ec2.limit-instance-types and organization.restrict-leaving scp
  modules/organization-policy/templates.yaml
  modules/organization-policy/templates/service-control-policies/ec2.limit-instance-types.yaml.tmpl
  modules/organization-policy/templates/service-control-policies/organization.restrict-leaving.yaml.tmpl
Labels: none

chore: bump to v0.6.2
  VERSION
Labels: none

fix(organization-policy): rename to ec2.restrict-instance-types scp
  modules/organization-policy/templates.yaml
  modules/organization-policy/templates/service-control-policies/ec2.restrict-instance-types.yaml.tmpl
Labels: none

chore: bump to v0.6.3
  VERSION
Labels: none

fix(organization-policy): fix wrong precondition
  modules/organization-policy/main.tf
Labels: none

chore: bump to v0.6.4
  VERSION
Labels: none
