Repository tedilabs/terraform-aws-organization, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: account, :floppy_disk: organization, :floppy_disk: organizational-unit, :floppy_disk: ram-share, :floppy_disk: sso-access-control-attributes, :floppy_disk: sso-account-assignments, :floppy_disk: sso-permission-set

.github/labeler.yaml:

# Modules
":floppy_disk: account":
- changed-files:
  - any-glob-to-any-file:
    - modules/account/**/*

":floppy_disk: organization":
- changed-files:
  - any-glob-to-any-file:
    - modules/organization/**/*

":floppy_disk: organizational-unit":
- changed-files:
  - any-glob-to-any-file:
    - modules/organizational-unit/**/*

":floppy_disk: ram-share":
- changed-files:
  - any-glob-to-any-file:
    - modules/ram-share/**/*

":floppy_disk: sso-access-control-attributes":
- changed-files:
  - any-glob-to-any-file:
    - modules/sso-access-control-attributes/**/*

":floppy_disk: sso-account-assignments":
- changed-files:
  - any-glob-to-any-file:
    - modules/sso-account-assignments/**/*

":floppy_disk: sso-permission-set":
- changed-files:
  - any-glob-to-any-file:
    - modules/sso-permission-set/**/*

chore: update copyright year to 2026
  README.md
Labels: none

chore: update copyright year to 2026 (#20)
  README.md
Labels: none

docs: add CLAUDE.md for AI-assisted development guidelines
  CLAUDE.md
Labels: none

chore: add CLAUDE.md for AI-assisted development
  CLAUDE.md
Labels: none

fix(account): fix `for_each` with all_available_regions
  modules/account/delegated-administrators.tf
Labels: :floppy_disk: account

chore: bump to v0.6.5
  VERSION
Labels: none

fix(sso-permission-set): fix permissions boundary bug
  modules/sso-permission-set/variables.tf
Labels: :floppy_disk: sso-permission-set

chore: bump to v0.6.6
  VERSION
Labels: none

feat(organization-policy): support cloudfront restrict-origin-access-identity-management scp
  modules/organization-policy/templates.yaml
  modules/organization-policy/templates/service-control-policies/cloudfront.restrict-origin-access-identity-management.yaml.tmpl
Labels: none

feat(organization-policy): support s3 restrict-public-access-block-management scp
  modules/organization-policy/templates.yaml
  modules/organization-policy/templates/service-control-policies/s3.restrict-public-access-block-management.yaml.tmpl
  modules/organization-policy/templates/service-control-policies/s3.restrict-unencrypted-object-upload.yaml.tmpl
Labels: none

feat(organization): support multiple policies in a organiztion-policy
  modules/organization-policy/README.md
  modules/organization-policy/main.tf
  modules/organization-policy/outputs.tf
  modules/organization-policy/templates.yaml
  modules/organization-policy/variables.tf
Labels: none

chore(organization-policy): add example
  examples/organization-scp-policy/main.tf
  examples/organization-scp-policy/outputs.tf
  examples/organization-scp-policy/versions.tf
Labels: none

chore: bump to v0.7.0
  VERSION
Labels: none

fix(organization-policy): fix s3.restrict-public-access-block-management policy
  modules/organization-policy/templates/service-control-policies/s3.restrict-public-access-block-management.yaml.tmpl
Labels: none

fix(account): support regional delegated administrator for securityhub
  modules/account/delegated-administrators.tf
Labels: :floppy_disk: account

chore: bump to v0.7.1
  VERSION
Labels: none

feat(organization): support individual resource for trust access
  modules/organization/README.md
  modules/organization/main.tf
  modules/organization/versions.tf
Labels: :floppy_disk: organization

chore: bump to v0.7.2
  VERSION
Labels: none

feat(organization): support resource tags
  modules/organization/README.md
  modules/organization/main.tf
Labels: :floppy_disk: organization

chore: bump to v0.7.3
  VERSION
Labels: none

feat(organization-policy): add account.restrict-actions scp template
  modules/organization-policy/templates.yaml
Labels: none

chore: bump to v0.7.4
  VERSION
Labels: none

fix(organization-policy): add missing template file
  modules/organization-policy/templates/service-control-policies/account.restrict-actions.yaml.tmpl
Labels: none

chore: bump to v0.7.5
  VERSION
Labels: none
