Repository tedilabs/terraform-aws-organization, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: account, :floppy_disk: organization, :floppy_disk: organizational-unit, :floppy_disk: ram-share, :floppy_disk: sso-access-control-attributes, :floppy_disk: sso-account-assignments, :floppy_disk: sso-permission-set

.github/labeler.yaml:

# Modules
":floppy_disk: account":
- modules/account/**/*

":floppy_disk: organization":
- modules/organization/**/*

":floppy_disk: organizational-unit":
- modules/organizational-unit/**/*

":floppy_disk: ram-share":
- modules/ram-share/**/*

":floppy_disk: sso-access-control-attributes":
- modules/sso-access-control-attributes/**/*

":floppy_disk: sso-account-assignments":
- modules/sso-account-assignments/**/*

":floppy_disk: sso-permission-set":
- modules/sso-permission-set/**/*

Update organization related modules
  modules/account/README.md
  modules/account/delegated-administrators.tf
  modules/account/main.tf
  modules/account/outputs.tf
  modules/account/variables.tf
  modules/account/versions.tf
  modules/organization/README.md
  modules/organization/main.tf
  modules/organization/outputs.tf
  modules/organization/variables.tf
  modules/organization/versions.tf
  modules/organizational-unit/README.md
  modules/organizational-unit/main.tf
  modules/organizational-unit/outputs.tf
  modules/organizational-unit/versions.tf
  modules/ram-share/README.md
  modules/ram-share/versions.tf
  modules/sso-access-control-attributes/README.md
  modules/sso-access-control-attributes/versions.tf
  modules/sso-account-assignment/README.md
  modules/sso-account-assignment/versions.tf
  modules/sso-permission-set/README.md
  modules/sso-permission-set/versions.tf
Labels: :floppy_disk: account, :floppy_disk: organization, :floppy_disk: organizational-unit, :floppy_disk: ram-share, :floppy_disk: sso-access-control-attributes, :floppy_disk: sso-permission-set

Update organization related modules (#6)
  modules/account/README.md
  modules/account/delegated-administrators.tf
  modules/account/main.tf
  modules/account/outputs.tf
  modules/account/variables.tf
  modules/account/versions.tf
  modules/organization/README.md
  modules/organization/main.tf
  modules/organization/outputs.tf
  modules/organization/variables.tf
  modules/organization/versions.tf
  modules/organizational-unit/README.md
  modules/organizational-unit/main.tf
  modules/organizational-unit/outputs.tf
  modules/organizational-unit/versions.tf
  modules/ram-share/README.md
  modules/ram-share/versions.tf
  modules/sso-access-control-attributes/README.md
  modules/sso-access-control-attributes/versions.tf
  modules/sso-account-assignment/README.md
  modules/sso-account-assignment/versions.tf
  modules/sso-permission-set/README.md
  modules/sso-permission-set/versions.tf
Labels: :floppy_disk: account, :floppy_disk: organization, :floppy_disk: organizational-unit, :floppy_disk: ram-share, :floppy_disk: sso-access-control-attributes, :floppy_disk: sso-permission-set

Support to manage contacts and additional regions of member account
  modules/account/README.md
  modules/account/contacts.tf
  modules/account/outputs.tf
  modules/account/regions.tf
  modules/account/variables.tf
Labels: :floppy_disk: account

Support to manage contacts and additional regions of member account (#7)
  modules/account/README.md
  modules/account/contacts.tf
  modules/account/outputs.tf
  modules/account/regions.tf
  modules/account/variables.tf
Labels: :floppy_disk: account

Bump to v0.2.0
  VERSION
Labels: none

Confirm resource-explorer-2.amazonaws.com
  modules/account/delegated-administrators.tf
  modules/organization/main.tf
Labels: :floppy_disk: account, :floppy_disk: organization

Update dependabot
  .github/dependabot.yml
Labels: none

Remove macie delegated admin support
  modules/account/README.md
  modules/account/delegated-administrators.tf
  modules/account/variables.tf
  modules/organization/main.tf
Labels: :floppy_disk: account, :floppy_disk: organization

Bump to v0.2.1
  VERSION
Labels: none

Improve account and organization
  modules/account/delegated-administrators.tf
  modules/account/variables.tf
  modules/organization/README.md
  modules/organization/main.tf
Labels: :floppy_disk: account, :floppy_disk: organization
